{
  "scopeName": "source.tosca",
  "name": "Tosca",
  "comment": "Tosca Language",
  "fileTypes": [
    "crs4", "tsc"
  ],
  "patterns": [
    {
      "include": "#tosca"
    }
  ],
  "repository": {
    "tosca": {
      "patterns": [
        {
          "include": "#comments"
        },
        {
          "include": "#concrete"
        },
        {
          "match": "\\/\\/.*",
          "name": "comment.line.tosca"
        },
        {
          "match": "→|->",
          "name": "keyword.operator.tosca"
        },
        {
          "match": "([A-Z$_+/|`~!@^&*=?/><.:]|-)([0-9a-zA-Z$_+/|`~!@^&*=?/><.:]|-)*",
          "name": "entity.name.function.tosca"
        },
        {
          "match": "func|eager|lazy|extern|rule|enum|dispatch|module|import|grammar|infixl|infixr|infix|prefix|postfix|allows-variable",
          "name": "keyword.control.tosca"
        },
        {
          "match": ",|\\(|\\)|\\[|\\]",
          "name": "keyword.operator.tosca"
        },
        {
          "match": "#[0-9a-zA-Z\\-_]*(\\*|\\?|\\+)?[0-9]*",
          "name": "variable.tosca"
        },
        {
          "include": "#string"
        }
      ]
    },
    "string": {
      "patterns": [
        {
          "begin": "\"",
          "end": "\"",
          "patterns": [
            {
              "include": "#string"
            }
          ],
          "name": "string.tosca"
        }
      ]
    },
    "comments": {
      "patterns": [
        {
          "begin": "/\\*",
          "end": "\\*/",
          "patterns": [
            {
              "include": "#comments"
            }
          ],
          "name": "comment.block.tosca"
        }
      ]
    },
    "concrete": {
      "patterns": [
        {
          "begin": "([a-z][a-zA-Z0-9\\-_]*(\\*|\\?|\\+)?)(⟦)",
          "end": "(⟧)",
          "beginCaptures" : {
            "1" : { "name" : 'support.class.tosca' },
            "3" : { "name" : 'keyword.operator.tosca' }
          },
          "endCaptures" : {
            "1" : { "name" : 'keyword.operator.tosca' }
          },
          "patterns": [
            {
              "begin": "⟨",
              "end": "⟩",
              "name": "embedded.source.tosca",
              "patterns" : [ {
                "include": "#tosca"
              } ]
            },
            {
              "include": "#concrete"
            }
          ],
          "name": "punctuation.section.embedded.tosca"
        }
      ]
    }
  }
}
