{
  "scopeName": "source.tosca",
  "name": "Tosca",
  "comment": "Tosca Language",
  "fileTypes": [
    "crs4", "tsc"
  ],
  "patterns": [
    {
      "include": "#tosca"
    }
  ],
  "repository": {
    "tosca": {
      "patterns": [
        {
          "include": "#string"
        },
        {
          "include": "#comments"
        },
        {
          "include": "#concrete"
        },
        {
          "match": "\\/\\/.*",
          "name": "comment.line.tosca"
        },
        {
          "match": "\\b(→|->)\\b",
          "name": "keyword.operator.tosca"
        },
        {
          "match": "@([0-9a-zA-Z$_+/|`~!@^&*=?/><.:]|-)*",
          "name": "storage.modifier.global.tosca"
        },
        {
          "match": "\\b([A-Z$_]|-)([0-9a-zA-Z$_]|-)*\\b",
          "name": "entity.name.function.tosca"
        },
        {
          "match": "\\b(func|eager|lazy|extern|rule|enum|module|import|grammar|allows-variable|variable|type|let|if|else|for|in)\\b",
          "name": "keyword.control.tosca"
        },
        {
          "match": ",|\\(|\\)|\\[|\\]|\\.\\.\\.|=",
          "name": "keyword.operator.tosca"
        },
        {
          "match": "#[0-9a-zA-Z\\-_]*(\\*|\\?|\\+)?[0-9]*",
          "name": "variable.tosca"
        },
        {
          "match": "[a-z]([0-9a-zA-Z$_]|-)*",
          "name": "variable.tosca"
        }
      ]
    },
    "string": {
      "patterns": [
        {
          "begin": "\"",
          "end": "\"",
          "patterns": [
            {
              "match": "\\\\.|\\\\\"|\"\"",
              "name": "constant.character.escape.tosca"
            },
            {
              "match": "[^\"]*[^\\n\\r\"\\\\]$",
              'name': 'invalid.illegal.string.tosca'
            }
          ],
          "name": "string.tosca"
        }
      ]
    },
    "comments": {
      "patterns": [
        {
          "begin": "/\\*",
          "end": "\\*/",
          "patterns": [
            {
              "include": "#comments"
            }
          ],
          "name": "comment.block.tosca"
        }
      ]
    },
    "concrete": {
      "patterns": [
        {
          "begin": "([a-z][a-zA-Z0-9\\-_]*(\\*|\\?|\\+)?)(⟦)",
          "end": "(⟧)",
          "beginCaptures" : {
            "1" : { "name" : 'support.class.tosca' },
            "3" : { "name" : 'keyword.operator.tosca' }
          },
          "endCaptures" : {
            "1" : { "name" : 'keyword.operator.tosca' }
          },
          "patterns": [
            {
              "begin": "⟨",
              "end": "⟩",
              "name": "embedded.source.tosca",
              "patterns" : [ {
                "include": "#tosca"
              } ]
            },
            {
              "include": "#concrete"
            }
          ],
          "name": "punctuation.section.embedded.tosca"
        }
      ]
    }
  }
}
