# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Check syntax'
      'command': 'language-transscript:check'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'TransScript'
      'submenu': [
        {
          'label': 'Check'
          'command': 'language-transscript:check'
        }
      ]
    ]
  }
]
